/*! Responsive Navigation */
/* ==========================================================================
   Helper Mixin
   ========================================================================== */
/*
 * Sub Menu Indent
 */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.clearfix:before, nav #menu-rd li.has-sub-menu:before,
.clearfix:after,
nav #menu-rd li.has-sub-menu:after {
  content: "";
  display: table;
}

.clearfix:after, nav #menu-rd li.has-sub-menu:after {
  clear: both;
}

.clearfix, nav #menu-rd li.has-sub-menu {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

/* ==========================================================================
   Responsive Navidation
   ========================================================================== */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

nav #menu-rd {
  margin: 0;
  padding: 0;
  font-size: 1.125em;
}
nav #menu-rd .sub-menu .sub-menu a {
  padding-left: 40px;
}
nav #menu-rd .sub-menu .sub-menu .sub-menu a {
  padding-left: 60px;
}
nav #menu-rd .sub-menu .sub-menu .sub-menu .sub-menu a {
  padding-left: 80px;
}
nav #menu-rd ul {
  margin: 0;
  padding: 0;
  display: none;
}
nav #menu-rd ul ul {
  top: 0;
  left: 100%;
}
nav #menu-rd li {
  line-height: 40px;
  background: #e2f2ad;
  position: relative;
}
nav #menu-rd li a {
  color: #69505b;
  text-decoration: none;
  display: block;
  padding: 0 20px;
}
nav #menu-rd li a:hover, nav #menu-rd li a:focus {
  text-decoration: underline;
}
nav #menu-rd li.has-sub-menu {
  width: auto;
}
nav #menu-rd li.has-sub-menu > a {
  display: block;
  padding: 0 40px 0 20px;
}
nav #menu-rd li.has-sub-menu > .show-sub-menu {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  text-align: center;
  color: #69505b;
}
nav #menu-rd > li {
  background: #cbe86b;
}

html.no-js nav #menu-rd ul {
  display: block;
}
html.no-js nav #menu-rd li.has-sub-menu > a {
  width: 100%;
}
html.no-js nav #menu-rd .show-sub-menu {
  display: none;
}

html.touch nav a,
html.touch .show-sub-menu {
  outline: none;
}

@media screen and (min-width: 481px) {
  nav #menu-rd .sub-menu a {
    padding-left: 20px !important;
  }
  nav #menu-rd ul {
    position: absolute;
    z-index: 999;
    top: 40px;
    left: 0;
  }
  nav #menu-rd li {
    white-space: nowrap;
    /*
    &.has-sub-menu{
    	> a {
    		width: auto;
    	}
    	> .show-sub-menu {
    		width: $nav-height;
    	}
    }*/
  }
  nav #menu-rd > li {
    float: left;
    border-left: 1px solid #69505b;
  }
  nav #menu-rd > li:first-child {
    border: none;
  }
  nav #menu-rd > li ul {
    min-width: 100%;
  }

  html.no-js nav #menu-rd ul {
    display: none;
  }
}
