/* ==========================================================================
   Helper classes
   ========================================================================== */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

/* ==========================================================================
   Responsive Navigation
   ========================================================================== */
/*
 * Sub Menu Indent
 */
#masternav {
  background: rgba(0, 0, 0, 0);
}
#masternav #menu-rd .sub-menu .sub-menu a {
  padding-left: 40px;
}
#masternav #menu-rd .sub-menu .sub-menu .sub-menu a {
  padding-left: 60px;
}
#masternav #menu-rd .sub-menu .sub-menu .sub-menu .sub-menu a {
  padding-left: 80px;
}
#masternav #menu-rd,
#masternav #menu-rd ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
}
#masternav #menu-rd ul {
  display: none;
}
#masternav #menu-rd li {
  position: relative;
  line-height: 40px;
  background: #041122;
}
#masternav #menu-rd li a {
  text-decoration: none;
  display: block;
  padding: 0 20px;
  color: #259073;
}
#masternav #menu-rd li a:hover {
  text-decoration: underline;
}
#masternav #menu-rd li.menu-item-has-children > a {
  padding: 0 40px 0 20px;
}
#masternav #menu-rd li .show-sub-menu {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  text-align: center;
  color: #259073;
}
#masternav #menu-rd > li {
  line-height: 50px;
  background: rgba(0, 0, 0, 0);
}
#masternav #menu-rd > li.menu-item-has-children > a {
  padding: 0 50px 0 20px;
}
#masternav #menu-rd > li > a {
  color: invisible;
}
#masternav #menu-rd > li > .show-sub-menu {
  color: #259073;
  width: 50px;
  height: 50px;
}

html.no-js #masternav #menu-rd ul {
  display: block;
}

html.touch #masternav a,
html.touch .show-sub-menu {
  outline: none;
}

@media screen and (min-width: 481px) {
  #masternav #menu-rd {
    position: relative;
  }
  #masternav #menu-rd ul {
    min-width: 100%;
    position: absolute;
    z-index: 999;
    top: 50px;
    left: 0;
  }
  #masternav #menu-rd ul ul {
    top: 0;
    left: 100%;
  }
  #masternav #menu-rd ul a {
    padding-left: 20px !important;
  }
  #masternav #menu-rd ul li:first-child {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
  }
  #masternav #menu-rd ul li:last-child {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -ms-border-radius: 0 0 3px 3px;
    -o-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
  }
  #masternav #menu-rd li {
    white-space: nowrap;
  }
  #masternav #menu-rd > li {
    float: left;
  }

  html.no-js #masternav #menu-rd a {
    padding: 0 20px;
  }
  html.no-js #masternav #menu-rd ul {
    display: none;
  }
}
