@function em($target, $context: $base-font-size) {
    @return ($target / $context) * 1em;
}

@function rem($target, $context: $base-font-size) {
    @return ($target / $context) * 1rem;
}

@mixin group{
	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}
}

@function strip-unit($number) {
  @return $number / ($number * 0 + 1);
}