/*! Responsive Navigation */

/* ==========================================================================
   Helper Mixin
   ========================================================================== */

// It strips the unit of measure and returns it
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// Converts "px" to "em" using the ($)em-base
@function convert-to-em($value)  {
  $value: strip-unit($value) / strip-unit($em-base) * 1em;
  @if ($value == 0em) { $value: 0; } // Turn 0em into 0
  @return $value;
}

// Working in ems is annoying. Think in pixels by using this handy function, emCalc(#)
// Just enter the number, no need to mention "px"
@function emCalc($values...) {
  $max: length($values); // Get the total number of parameters passed

  // If there is only 1 parameter, then return it as an integer.
  // This is done because a list can't be multiplied or divided even if it contains a single value
  @if $max == 1 { @return convert-to-em(nth($values, 1)); }

  $emValues: (); // This will eventually store the converted $values in a list
  @for $i from 1 through $max {
    $emValues: append($emValues, convert-to-em(nth($values, $i)));
  }
  @return $emValues;
}

// We use this to do clear floats
@mixin clearfix() {
  *zoom:1;
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

$em-base: 16px;

/*
 * Sub Menu Indent
 */

$sub-menu-max-deep: 4;
$sub-menu-start-indent: 20px;
$sub-menu-class: '.sub-menu';

@mixin sub-menu-indent($sub-menu-nth-indent) {
	$sub-menu-class-nth: $sub-menu-class;
	@for $i from 1 through ($sub-menu-max-deep - 1) {
  		$sub-menu-class-nth: $sub-menu-class-nth + ' ' + $sub-menu-class;
	  	#{ $sub-menu-class-nth } {
	  		a {
	  			padding-left: $sub-menu-nth-indent * $i + $sub-menu-start-indent;
	  		}
	  	}
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* ==========================================================================
   Responsive Navidation
   ========================================================================== */

@import "compass";

*,
*:after,
*:before {
    @include box-sizing(border-box);
}

$nav-font-size: emCalc(18px);

$nav-height: 40px;
$nav-icon-width: $nav-height;
$nav-background: #CBE86B;
$nav-color: #69505B;
$nav-show-sub-menu-color: #69505B;

nav {
	#menu-rd {
		@include sub-menu-indent(20px);
	    margin: 0;
	    padding: 0;
	    font-size: $nav-font-size;
	    ul {
	        margin: 0;
	        padding: 0;
	        display: none;
	        ul {
	            top: 0;
	            left: 100%;
	        }
	        &.open{
	        }
	    }
	    li {
	        line-height: $nav-height;
	        background: lighten($nav-background, 15%);
	        position: relative;
	        a {
	        	color: $nav-color;
	        	text-decoration: none;
	            display: block;
	            padding: 0 $sub-menu-start-indent;
	            &:hover,
	            &:focus {
	            	text-decoration: underline;
	            }
	        }
	        &.has-sub-menu{
	        	@extend .clearfix; 
	        	width: auto;
				> a {
					display: block;
					padding: 0 $nav-icon-width 0 $sub-menu-start-indent;
				}
				> .show-sub-menu {
					height: $nav-height;
					width: $nav-icon-width;
					position: absolute;
					top: 0;
					right: 0;
					cursor: pointer;
					text-align: center;
					color: $nav-show-sub-menu-color;
				}
			}
	    }
	    > li {
	        background: $nav-background;
	    }
	}
}

html.no-js {
	nav {
		#menu-rd {
			ul {
				display: block;
			}
			li {
				&.has-sub-menu{
					> a {
						width: 100%;
					}
				}
			}
			.show-sub-menu {
				display: none;
			}
		}
	}
}

html.touch {
	nav a,
	.show-sub-menu {
		outline: none;
	}
}

@media screen and (min-width: 481px){
	nav {
		#menu-rd {
			#{$sub-menu-class} a {
				padding-left: $sub-menu-start-indent !important;
			}
			ul {
				position: absolute;
		        z-index: 999;
		        top: $nav-height;
		        left: 0;
			}
			li {
				white-space:nowrap;
				/*
				&.has-sub-menu{
					> a {
						width: auto;
					}
					> .show-sub-menu {
						width: $nav-height;
					}
				}*/
			}
	        > li {
	        	float: left;
	        	
	        	border-left: 1px solid $nav-color;
		        &:first-child {
		        	border: none;
		        }
		        
	        	ul {
		            min-width: 100%;
		        }
	        }
		}
	}
	html.no-js {
		nav {
			#menu-rd {
				ul {
					display: none;
				}
			}
		}
	}
}