@import "global-settings";

/* ===================================================================================
   Responsive Navigation (https://github.com/MichalRazorZalecki/responsive-navigation)
   =================================================================================== */

// MENU AWNING variables

//$nav-awning-selector: ".menu-awning";
$nav-awning-button-selector: ".menu-awning-button";
$nav-awning-title-selector: ".menu-awning-title";

$nav-awning-title-font-size: 18px;
$nav-awning-button-font-size: 24px;
//$nav-awning-height: 50px; // == $nav-li-1st-lvl-height-mobile

// NAV selectors

//$new-nav-selector+"__menu": ".menu";

// NAV basic sizes

$nav-li-height: 40px;

$nav-li-show-sub-menu-width: 50px;
$nav-li-show-sub-menu-width-narrow: 30px;
$nav-li-show-sub-menu-height: $nav-li-height;

$nav-li-1st-lvl-height: 50px;
$nav-li-1st-lvl-height-mobile: $nav-li-height;

$nav-li-1st-lvl-show-sub-menu-height: $nav-li-1st-lvl-height;
$nav-li-1st-lvl-show-sub-menu-height-mobile: $nav-li-1st-lvl-height-mobile;

$nav-li-icon-width:  20px;
$nav-li-icon-margin-right: 4px;

// NAV basic settings

$nav-breakpoint: 521px;
$nav-font-size: 18px;

$nav-to-right: false;
$nav-neg-marg-for-ib: -5px; // negative margin for inline-block to remove space

// NAV sub menu indent

$nav-sub-menu-max-deep: 4;
//$new-nav-basic-padding: 16px;
$nav-sub-menu-class: ".sub-menu";

@mixin sub-menu-indent($nav-sub-menu-nth-indent) {
	$nav-sub-menu-class-nth: "";
	@for $i from 1 through ($nav-sub-menu-max-deep - 1) {
  		$nav-sub-menu-class-nth: $nav-sub-menu-class-nth + ' ' + $nav-sub-menu-class;
	  	#{ $nav-sub-menu-class-nth } {
	  		a {
	  			padding-left: $nav-sub-menu-nth-indent * $i + $nav-sub-menu-nth-indent;
	  		}
	  	}
	}
}

// NEW VARIABLES

$new-nav-basic-padding: 20px;

$new-nav-awning-font-size: 20px;

$new-nav-awning-button-size: 30px;
$new-nav-show-sub-menu-size: 30px;

$new-nav-big-1stlvl-height: 50px;

//$nav-awning-selector: ".menu__awning";

$new-nav-selector: ".masternav";

$new-nav-big-1stlvl-show-sub-menu-size: $new-nav-big-1stlvl-height;


// NAV CSS

#{$new-nav-selector}__awning {
	@include group;
	line-height: rem($new-nav-big-1stlvl-height);
	padding: 0 rem($new-nav-basic-padding);
	font-size: rem($new-nav-awning-font-size);
	position: relative;
	#{$new-nav-selector}__awning__button {
		padding: 0;
		border: 0;
		background: none;

		position: absolute;
		right: rem($new-nav-basic-padding);
		top: rem($new-nav-big-1stlvl-height - $new-nav-awning-button-size)/2;

		width: rem($new-nav-awning-button-size);
		height: rem($new-nav-awning-button-size);
	}
}

#{$new-nav-selector}__menu {
	// -> root ul
	@include group;
	@include sub-menu-indent($new-nav-basic-padding);

	display: none;
	font-size: rem($nav-font-size);

	li[class*="icon-"] {
		&:before {
			display: none;
		}
    }
    &,
    ul {
    	// -> all ul in menu
	    list-style: none;
	    padding: 0;
    	margin: 0;
    }
    ul {
    	// -> all dropdown ul
        display: none;
    }
    li {
    	// -> all li
        line-height: rem($nav-li-height);
        position: relative;
        a {
        	// -> all a in all li
            display: block;
            padding: 0 rem($new-nav-basic-padding);
        }
		.show-sub-menu {
			// dropdown icons
			background: none;
			border: 0;
			padding: 0;

			position: absolute;
			z-index: 2;
			right: rem($new-nav-basic-padding);
			top: rem($nav-li-height - $new-nav-show-sub-menu-size)/2;


			width: rem($new-nav-show-sub-menu-size);
			height: rem($new-nav-show-sub-menu-size);
		}
    }
}

@media screen and (min-width: $nav-breakpoint){
	#{$new-nav-selector}__awning {
		display: none;
	}
	#{$new-nav-selector}__menu {
		// -> root ul
		display: block !important;
		position: relative;
		@if $nav-to-right {
			text-align: right;
		}

		> li[class*="icon-"] {
			// -> li in root menu with icon
	        &:before {
	        	display: block;
	            float: left;
				margin: 0 rem($nav-li-icon-margin-right) 0 rem($new-nav-basic-padding);
				width: rem($nav-li-icon-width);
				height: rem($new-nav-big-1stlvl-height);
				line-height: em($new-nav-big-1stlvl-height, $nav-font-size); // em - problem with IE when line height in rem
	        }
	        > a {
	        	padding-left: rem($nav-li-icon-width + $new-nav-basic-padding + $nav-li-icon-margin-right);
	        	z-index: 2;
	        	position: relative;
	        }
	    }
		ul {
			// -> submenus
	        left: 0;
	        top: rem($new-nav-big-1stlvl-height);
	        z-index: 999;
            position: absolute;
	        ul {
	        	// -> 2nd+ lvs submenus
	            left: 100%;
	            top: 0;
	        }
            a {
				// -> all a in submenus
				padding-left: rem($new-nav-basic-padding) !important;
			}

        }
		li {
			// -> all li in root
			@if $nav-to-right {
				text-align: left;
			}
			white-space:nowrap;
			&.menu-item-has-children{
				// -> all li in root which has submenu
				> a {
					// -> all a next to dropdown icon
					padding-right: rem($new-nav-basic-padding + $new-nav-show-sub-menu-size);
				}
			}
			> .show-sub-menu {
				// -> dropdown icons
				right: rem($new-nav-basic-padding)/2;
			}
		}
        > li {
        	// li in root (1st lvl)
        	display: inline-block;
        	@if (strip-unit($nav-neg-marg-for-ib) != 0) {
				margin-left: rem($nav-neg-marg-for-ib);
	        	&:first-child {
					margin-left: 0;
	        	}
        	}
        	line-height: rem($new-nav-big-1stlvl-height);
        	> ul {
				// -> first submenu
				min-width: 100%;
			}
        	> .show-sub-menu {
				// -> dropdown icons in li in root (1st lvl)
				top: rem($new-nav-big-1stlvl-height - $new-nav-show-sub-menu-size)/2;
			}
        }
	}
}

html.no-js {
	#{$new-nav-selector}__menu {
		display: block;
		li:hover {
			> ul {
				display: block;
			}
		}
	}
	#{$new-nav-selector}__awning {
		display: none;
	}
}
