/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

@import "compass";

/* ==========================================================================
   Responsive Navigation
   ========================================================================== */

/*
 * Sub Menu Indent
 */

$nav-sub-menu-max-deep: 4;
$nav-sub-menu-start-indent: 20px;
$nav-sub-menu-class: ".sub-menu";

@mixin sub-menu-indent($nav-sub-menu-nth-indent) {
	$nav-sub-menu-class-nth: $nav-sub-menu-class;
	@for $i from 1 through ($nav-sub-menu-max-deep - 1) {
  		$nav-sub-menu-class-nth: $nav-sub-menu-class-nth + ' ' + $nav-sub-menu-class;
	  	#{ $nav-sub-menu-class-nth } {
	  		a {
	  			padding-left: $nav-sub-menu-nth-indent * $i + $nav-sub-menu-start-indent;
	  		}
	  	}
	}
}

$nav-font-size: 18px;

$nav-li-1st-lvl-color: invisible;
$nav-li-1st-lvl-background: rgba(0,0,0,0);
$nav-li-1st-lvl-height: 50px;
$nav-li-1st-lvl-show-sub-menu-color: #259073;
$nav-li-1st-lvl-show-sub-menu-width: $nav-li-1st-lvl-height;
$nav-li-1st-lvl-show-sub-menu-height: $nav-li-1st-lvl-height;

$nav-li-color: #259073;
$nav-li-background: #041122;
$nav-li-height: 40px;
$nav-li-show-sub-menu-color: #259073;
$nav-li-show-sub-menu-width: $nav-li-height;
$nav-li-show-sub-menu-height: $nav-li-height;

#masternav {
	background: $nav-li-1st-lvl-background;
	#menu-rd {
		// -> root ul
		@include sub-menu-indent(20px);
	    &,
	    ul {
	    	// -> all ul in menu
	    	margin: 0;
		    padding: 0;
		    list-style: none;
		    font-size: $nav-font-size;
	    }
	    ul {
	    	// -> all dropdown ul
	        display: none;
	    }
	    li {
	    	// -> all li
	        position: relative;
	        line-height: $nav-li-height;
	        background: $nav-li-background;
	        a {
	        	// -> all a in all li
	        	text-decoration: none;
	            display: block;
	            padding: 0 $nav-sub-menu-start-indent;
	            color: $nav-li-color;
	            &:hover {
	            	text-decoration: underline;
	            }
	        }
	        &.menu-item-has-children{
	    	// -> all li which has submenu
				> a {
					// all a next to dropdown icon
					padding: 0 $nav-li-show-sub-menu-width 0 $nav-sub-menu-start-indent;
				}
			}
			.show-sub-menu {
				// dropdown icons
				height: $nav-li-show-sub-menu-width;
				width: $nav-li-show-sub-menu-width;
				position: absolute;
				top: 0;
				right: 0;
				cursor: pointer;
				text-align: center;
				color: $nav-li-show-sub-menu-color;
			}
	    }
		> li {
	    	// -> li in root menu
			line-height: $nav-li-1st-lvl-height;
			background: $nav-li-1st-lvl-background;
			&.menu-item-has-children{
	    	// -> li in root menu which has submenu
				> a {
					// all a next to dropdown icon
					padding: 0 $nav-li-1st-lvl-show-sub-menu-width 0 $nav-sub-menu-start-indent;
				}
			}
			> a {
				// -> a in li in root (1st lvl)
				color: $nav-li-1st-lvl-color;
				
			}
			> .show-sub-menu {
				// -> dropdown icons in li in root (1st lvl)
				color: $nav-li-1st-lvl-show-sub-menu-color;
				width: $nav-li-1st-lvl-show-sub-menu-width;
				height: $nav-li-1st-lvl-show-sub-menu-width;
			}
	    }
	}
}


html.no-js {
	#masternav {
		#menu-rd {
			ul {
				// -> all dropdowns when JS disabled
				display: block;
			}
		}
	}
}


html.touch {
	#masternav a,
	.show-sub-menu {
		// -> all a and dropdown icons on touch screen
		outline: none;
	}
}

@media screen and (min-width: 481px){
	#masternav {
		#menu-rd {
			// -> root ul
			position: relative;
			ul {
				// submenus
	            min-width: 100%;
	            position: absolute;
		        z-index: 999;
		        top: $nav-li-1st-lvl-height;
		        left: 0;
		        ul {
		        	// -> 2nd+ lvs submenus
		            top: 0;
		            left: 100%;
		        }
	            a {
					// all a in submenus
					padding-left: $nav-sub-menu-start-indent !important;
				}
				li {
					// all li in submenus
					&:first-child {
						@include border-radius(3px 3px 0 0);	
					}
					&:last-child {
						@include border-radius(0 0 3px 3px);	
					}
				}
	        }
			li {
				// all li in root
				white-space:nowrap;
			}
	        > li {
	        	// li in root (1st lvl)	        	
	        	float: left;		        		        
	        }
		}
	}
	
	html.no-js {
		#masternav {
			#menu-rd {
				a {
					// -> all a when JS disabled
					padding: 0 $nav-sub-menu-start-indent;
				}
				ul {
					// -> all dropdowns when JS disabled
					display: none;
				}
			}
		}
	}
}