/* ===================================================================================
   Responsive Navigation (https://github.com/MichalRazorZalecki/responsive-navigation)
   =================================================================================== */

/*------------------------------------*\
    MENU SETTINGS
\*------------------------------------*/

$nav-breakpoint: 524px !default;
$nav-to-right: false !default;
$nav-sides-margin: true !default;

$nav-font-size: 18px !default;
$nav-awning-font-size: 20px !default;

$nav-neg-marg-for-ib: -5px !default; // negative margin for inline-block to remove space

$nav-li-height: 40px !default;
$nav-1st-li-height: 50px !default;

$nav-show-sub-menu-width: 40px !default;

$nav-basic-padding: 20px !default;

$nav-li-icon-width:  20px !default;
$nav-li-icon-margin-right: 5px !default;

$nav-selector: ".masternav" !default;

// NAV sub menu indent

$nav-sub-menu-max-deep: 4 !default;
$nav-sub-menu-class: ".sub-menu" !default;

@mixin sub-menu-indent($nav-sub-menu-nth-indent) {
	$nav-sub-menu-class-nth: "";
	@for $i from 1 through ($nav-sub-menu-max-deep - 1) {
  		$nav-sub-menu-class-nth: $nav-sub-menu-class-nth + ' ' + $nav-sub-menu-class;
	  	#{ $nav-sub-menu-class-nth } {
	  		a {
	  			padding-left: $nav-sub-menu-nth-indent * $i + $nav-sub-menu-nth-indent;
	  		}
	  	}
	}
}

/*------------------------------------*\
    MENU AWNING
\*------------------------------------*/

#{$nav-selector}__awning {
	line-height: rem($nav-1st-li-height);
	padding: 0 rem($nav-basic-padding);
	font-size: rem($nav-awning-font-size);
	position: relative;
}

#{$nav-selector}__awning__button {
	padding: 0;
	border: 0;
	background: none;

	position: absolute;
	top: 0;
	right: 0;
	width: rem($nav-show-sub-menu-width + $nav-basic-padding);
	height: rem($nav-1st-li-height);
}

/*------------------------------------*\
    MENU SKELETON
\*------------------------------------*/

#{$nav-selector}__menu {
	// -> root ul
	@include group;
	@include sub-menu-indent($nav-basic-padding);

	display: none;
	list-style: none;
	padding: 0;
	margin: 0;

	font-size: rem($nav-font-size);

	li[class*="icon-"] {
		&:before {
			display: none;
		}
    }
    ul {
    	// -> all dropdown ul
        display: none;
        list-style: none;
	    padding: 0;
    	margin: 0;
    }
    li {
    	// -> all li
        line-height: rem($nav-li-height);
        position: relative;
        a {
        	// -> all a in all li
            display: block;
            padding: 0 rem($nav-basic-padding);
        }
		.show-sub-menu {
			// dropdown icons
			background: none;
			border: 0;
			padding: 0;

			position: absolute;
			z-index: 2;

			right: 0;
			top: 0;

			width: rem($nav-show-sub-menu-width + $nav-basic-padding);
			height: rem($nav-li-height);
		}
    }
}

@media screen and (min-width: $nav-breakpoint){
	#{$nav-selector}__awning {
		display: none;
	}
	#{$nav-selector}__menu {
		// -> root ul
		display: block !important;
		position: relative;

		@if not $nav-sides-margin {
			margin: 0 rem(-$nav-basic-padding);
		}

		> li[class*="icon-"] {
			// -> li in root menu with icon
	        &:before {
	        	display: block;
	            float: left;
				margin: 0 rem($nav-li-icon-margin-right) 0 rem($nav-basic-padding);
				width: rem($nav-li-icon-width);
				height: rem($nav-1st-li-height);
				line-height: em($nav-1st-li-height, $nav-font-size); // em - problem with IE when line height in rem
	        }
	        > a {
	        	padding-left: rem($nav-li-icon-width + $nav-basic-padding + $nav-li-icon-margin-right);
	        	z-index: 2;
	        	position: relative;
	        }
	    }
		ul {
			// -> submenus
	        left: 0;
	        top: rem($nav-1st-li-height);
	        z-index: 999;
            position: absolute;
	        ul {
	        	// -> 2nd+ lvs submenus
	            left: 100%;
	            top: 0;
	        }
            a {
				// -> all a in submenus
				padding-left: rem($nav-basic-padding) !important;
			}
        }
		li {
			// -> all li in root
			@if $nav-to-right {
				text-align: left;
			}
			white-space:nowrap;
			&.menu-item-has-children{
				// -> all li in root which has submenu
				> a {
					// -> all a next to dropdown icon
					padding-right: rem($nav-show-sub-menu-width);
				}
			}
			> .show-sub-menu {
				// -> dropdown icons
				width: rem($nav-show-sub-menu-width);
			}
		}
        > li {
        	// li in root (1st lvl)
        	display: inline-block;
        	@if (strip-unit($nav-neg-marg-for-ib) != 0) {
				margin-left: rem($nav-neg-marg-for-ib);
	        	&:first-child {
					margin-left: 0;
	        	}
        	}
        	line-height: rem($nav-1st-li-height);
        	> ul {
				// -> first submenu
				min-width: 100%;
			}
        	> .show-sub-menu {
				// -> dropdown icons in li in root (1st lvl)
				height: rem($nav-1st-li-height);
			}
        }
	}
}

html.no-js {
	#{$nav-selector}__menu {
		display: block;
		li:hover {
			> ul {
				display: block;
			}
		}
	}
	#{$nav-selector}__awning {
		display: none;
	}
}

/*------------------------------------*\
    MENU APPEARANCE
\*------------------------------------*/

$nav-color: white !default;
$nav-color-hover: #3F3F3F !default;
$nav-bg: #707070 !default;

$nav-awning-color: white !default;
$nav-awning-bg: #2A363B !default;

/*
$nav-color: black;
$nav-color-hover: blue;
$nav-bg: white;

$nav-awning-color: white;
$nav-awning-bg: #2A363B;
*/

#{$nav-selector}__menu {
    @media screen and (min-width: 521px){
        ul {
            .icon-angle-down {
                &:before {
                    content: $fa-var-angle-right;
                }
            }
        }
    }
    a {
        text-decoration: none;
    }
    a,
    .show-sub-menu {
        outline: none;
        color: $nav-color;
        &:focus,
        &:hover {
            color: $nav-color-hover;
        }
    }
    li {
        background: $nav-bg;
        &[class*="icon-"] {
            color: $nav-color;
        }
    }
}

#{$nav-selector}__awning {
    color: $nav-awning-color;
    background: $nav-awning-bg;
}

#{$nav-selector}__awning__button {
    color: $nav-awning-color;
    outline: none;
}
